{% extends 'base.html' %}

{% block content %}
<div class="container my-5 d-flex flex-column justify-content-center align-items-center " style="min-height: 80vh;">
    <!-- Title Section -->
    <div class="mb-4 text-center">
        <h1 style="font-weight: bold; color: var(--secondarycolor);">
            STUDENT MANAGEMENT SYSTEM

        </h1>
    </div>

    <!-- Login Card -->
    <div class="card shadow-lg" style="width: 25rem; ">
       {% block main %}
       {% endblock %}

      
    </div>
</div>



{% endblock %}
