{% extends 'registration/base.html' %}

{% block main %}
   
   <div class="card shadow-lg" style="width: 25rem; ">
    {% if validlink %}
    <div class="card-header text-center text-white" style="background-color: var(--secondarycolor);">
        <h2>Change Password</h2>
        
    </div>
    <div class="card-body p-4">
        <form method="POST">
            <!-- {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change password</button> -->

                {% csrf_token %}
                {% for field in form %}
                   <div class="form-group my-1">
                    
                    {{ field.label_tag }}
                    <input type="password" id="{{ field.id_for_label }}" name="{{field.html_name}}" class="form-control mt-2">
                    {{ field.errors }}
                   </div>
                {% endfor %}
                <button type="submit" class="btn btn-success btn-block my-2">Change Password</button> 
             
            </form>
    <!-- Card Footer -->
    

</div>


   {% else %}
   <p>The Password reset link was expired or invalid</p>

   {% endif %}
      
    </div>

{% endblock %}