{% extends 'registration/base.html' %}

{% block main %}
    <div class="card shadow-lg" style="width: 25rem; ">
        <div class="card-header text-center text-white" style="background-color: var(--secondarycolor);">
            <h2>Forgot Password</h2>
            
        </div>
        <div class="card-body p-4 login-card-body">
            <form method="POST">
                <!-- {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">SUbmit</button> -->
                {% csrf_token %}
                {% for field in form %}
                   <div class="form-group my-1">
                   
                    {{ field.label_tag }}
                    <input type="text" id= "{{ field.id_for_label }}" name="{{field.html_name}}" class="form-control mt-2">
                    {{ field.errors }}
                   </div>
                {% endfor %}
                <button type="submit" class="btn btn-success btn-block my-2">Submit</button> 


                </form>
        


      
    </div>

{% endblock %}