<nav class=" navbar navbar-expand bg-body" >
  <div class="container-fluid">
    <!-- Navbar Links -->
    <ul class="navbar-nav ms-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="bi bi-search"></i>
        </a>
      </li>
      
      <!-- Chat Icon -->
      <li class="nav-item">
        <a class="nav-link" href="#" role="button">
          <i class="bi bi-chat-text"></i>
        </a>
      </li>
      
      <!-- Notifications Icon -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button">
          <i class="bi bi-bell-fill"></i>
          <span class="navbar-badge badge text-bg-warning">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <a href="#" class="dropdown-item">4 new messages</a>
          <a href="#" class="dropdown-item">8 friend requests</a>
          <a href="#" class="dropdown-item">3 new reports</a>
        </div>
      </li>

      <!-- User Menu Dropdown -->
      <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
          <img src="" class="user-image rounded-circle shadow" alt="User Image">
          <span class="d-none d-md-inline">Alexander Pierce</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
          <li class="user-header text-bg-primary">
            <img src="" class="rounded-circle shadow" alt="User Image">
            <p>
              Alexander Pierce - Web Developer
              <small>Member since Nov. 2023</small>
            </p>
          </li>
          <li class="user-footer">
            <a href="#" class="btn btn-default btn-flat">Profile</a>
            <a href="#" class="btn btn-default btn-flat float-end">Sign out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
