<aside class="app-sidebar bg-body-secondary shadow " data-bs-theme="dark">
  <!-- Sidebar Brand -->
  <div class="sidebar-brand p-4 bg-primary text-center text-white ">
    <a href="{% url 'admin_profile' %}" class="brand-link text-white ">
      <!-- <img src="" alt="AdminLTE Logo" class="brand-image opacity-75 shadow"> -->
      <span class="brand-text fw-light">Admin Panel</span>
    </a>
  </div>

  <!-- Sidebar Wrapper -->
  <div class="sidebar-wrapper" data-overlayscrollbars="host">
    <nav class="mt-2">
      <!-- Sidebar Menu -->
      <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu">
        <li class="nav-item">
          {% url 'admin_home' as admin_home %}
          <a href="{{admin_home }}" class="nav-link {% if request.path == admin_home %} active  {% endif %}">
            <i class="nav-icon bi bi-person-plus-fill"></i>
            <p>admin_home</p>
          </a>
        </li>
        <!-- Add Staff -->
        <li class="nav-item">
          {% url 'add_staff' as add_staff %}
          <a href="{{add_staff }}" class="nav-link {% if request.path == add_staff %} active  {% endif %}">
            <i class="nav-icon bi bi-person-plus-fill"></i>
            <p>Add Staff</p>
          </a>
        </li>

        <!-- Manage Staff -->
        <li class="nav-item">
          {% url 'manage_staff' as manage_staff %}
          <a href="{{manage_staff}}" class="nav-link {% if request.path == manage_staff %} active  {% endif %}">
            <i class="nav-icon bi bi-person-lines-fill"></i>
            <p>Manage Staff</p>
          </a>
        </li>

        <!-- Add Student -->
        <li class="nav-item"> 
          {% url 'add_student' as add_student %}
          <a href="{{add_student}}"  class="nav-link {% if request.path == add_student %} active  {% endif %}">
            <i class="nav-icon bi bi-person-plus-fill"></i>
            <p>Add Student</p>
          </a>
        </li>

        <!-- Manage Student -->
        <li class="nav-item">
          {% url 'manage_student' as manage_student %}
          <a href="manage_student" class="nav-link {% if request.path == manage_student %} active  {% endif %}">
            <i class="nav-icon bi bi-person-lines-fill"></i>
            <p>Manage Student</p>
          </a>
        </li>

        <!-- Add Course -->
        <li class="nav-item">
          <a href="{% url 'add_course' %}" class="nav-link">
            <i class="nav-icon bi bi-bookmark-plus-fill"></i>
            <p>Add Course</p>
          </a>
        </li>

        <!-- Manage Course -->
        <li class="nav-item">
          <a href="{% url 'manage_course' %}" class="nav-link">
            <i class="nav-icon bi bi-bookmark-check-fill"></i>
            <p>Manage Course</p>
          </a>
        </li>

        <!-- Add Subject -->
        <li class="nav-item">
          <a href="{% url 'add_subject' %}" class="nav-link">
            <i class="nav-icon bi bi-file-earmark-plus-fill"></i>
            <p>Add Subject</p>
          </a>
        </li>

        <!-- Manage Subject -->
        <li class="nav-item">
          <a href="{% url 'manage_subject' %}" class="nav-link">
            <i class="nav-icon bi bi-file-earmark-check-fill"></i>
            <p>Manage Subject</p>
          </a>
        </li>

        <li class="nav-item">
          {% url 'add_session' as add_session %}
          <a href="add_session" class="nav-link {% if request.path == add_session %} active  {% endif %}">
            <i class="nav-icon bi bi-person-lines-fill"></i>
            <p>add session</p>
          </a>
        </li>

        <!-- View Attendance Report -->
        <li class="nav-item">
          {% url 'admin_view_attendence' as admin_view_attendence %}
          <a href="{% url 'admin_view_attendence' %}" class="nav-link {% if request.path == admin_view_attendence and request.GET.feedback_type == 'student' %} active {% endif %}">
            <i class="nav-icon bi bi-person-lines-fill"></i>
            <p>admin_view_attendence</p>
          </a>
        </li>

            <!-- Student Feedback -->
      <li class="nav-item">
        {% url 'feedback_list' as feedback_list %}
        <a href="{% url 'feedback_list' feedback_type='student' %}" class="nav-link {% if request.path == feedback_list and request.GET.feedback_type == 'student' %} active {% endif %}">
          <i class="nav-icon bi bi-person-lines-fill"></i>
          <p>Student Feedback</p>
        </a>
      </li>

      <!-- Staff Feedback -->
      <li class="nav-item">
        {% url 'feedback_list' as feedback_list %}
        <a href="{% url 'feedback_list' feedback_type='staff' %}" class="nav-link {% if request.path == feedback_list and request.GET.feedback_type == 'staff' %} active {% endif %}">
          <i class="nav-icon bi bi-person-lines-fill"></i>
          <p>Staff Feedback</p>
        </a>
      </li>


        <!-- Student Leave -->
        <li class="nav-item">
          {% url 'student_leave' as student_leave %}
          <a href="{% url 'leave_reports' 'student' %}" class="nav-link {% if request.path == student_leave  and request.GET.user_type == 'staff' %} active {% endif %}">
            <i class="nav-icon bi bi-person-lines-fill"></i>
            <p>student_leave</p>
          </a>
        </li>

        <!-- Staff Leave -->
        <li class="nav-item">
          {% url 'staff_leave' as staff_leave %}
          <a href="{% url 'leave_reports' 'staff' %}" class="nav-link {% if request.path == staff_leave and request.GET.user_type == 'student'  %} active {% endif %}">
            <i class="nav-icon bi bi-person-lines-fill"></i>
            <p>staff_leave</p>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</aside>
