<aside class="app-sidebar bg-body-secondary shadow vh-100 " data-bs-theme="dark">
  <!-- Sidebar Brand -->
  <div class="sidebar-brand">
    <a href="{% url 'student_profile' %}" class="brand-link">
      <img src="" alt="AdminLTE Logo" class="brand-image opacity-75 shadow">
      <span class="brand-text fw-light">Admin Panel</span>
    </a>
  </div>

  <!-- Sidebar Wrapper -->
  <div class="sidebar-wrapper" data-overlayscrollbars="host">
    <nav class="mt-2">
      <!-- Sidebar Menu -->
      <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu">
        <!-- Add Staff -->
        <li class="nav-item">
          {% url 'student_home' as student_home %}
          <a href="{{student_home }}" class="nav-link {% if request.path == student_home %} active  {% endif %}">
            <i class="nav-icon bi bi-person-plus-fill"></i>
            <p>student_home</p>
          </a>
        </li>

        <li class="nav-item">
          {% url 'student_view_attendence' as student_view_attendence %}
          <a href="{{student_view_attendence }}" class="nav-link {% if request.path == student_view_attendence %} active  {% endif %}">
            <i class="nav-icon bi bi-person-plus-fill"></i>
            <p>student_view_attendence</p>
          </a>
        </li>

        <li class="nav-item">
          {% url 'student_apply_leave' as student_apply_leave %}
          <a href="{{student_apply_leave }}" class="nav-link {% if request.path == student_apply_leave %} active  {% endif %}">
            <i class="nav-icon bi bi-person-plus-fill"></i>
            <p>student_apply_leave</p>
          </a>
        </li>

        <li class="nav-item">
          {% url 'student_feedback' as student_feedback %}
          <a href="{{student_feedback }}" class="nav-link {% if request.path == student_feedback %} active  {% endif %}">
            <i class="nav-icon bi bi-person-plus-fill"></i>
            <p>student_feedback</p>
          </a>
        </li>
        <li class="nav-item">
          {% url 'student_view_result' as student_view_result %}
          <a href="{{student_view_result }}" class="nav-link {% if request.path == student_view_result %} active  {% endif %}">
            <i class="nav-icon bi bi-person-plus-fill"></i>
            <p>student_view_result</p>
          </a>
        </li>

    

      </ul>
    </nav>
  </div>
</aside>
