{% extends 'student_template/base_template.html' %}

{% block title %}Add Course{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center"><i class="fas fa-book"></i> Take Attendence</h2>
    
   
    {% if messages %}
        <div class="mb-3">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form action="{% url 'student_view_attendence' %}" method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <div class="form-group my-3">
                    <label>Subject</label>
                    <select class="form-control form-select" name="subject" id ="subject">
                        {% for subject in subjects %}
                        <option value="{{subject.id}}">{{subject.subject_name}}</option>
                        {% endfor %}
    
                    </select>
    
                </div>
                <div class="form-group my-3">
                   <div class="col-lg-6">
                    <label>Start Date</label>
                    <input type="date" name="start_date" class="form-control" placeholder="Start date">
                
                   </div>
                   <div class="col-lg-6">
                    <label>Start Date</label>
                    <input type="date" name="end_date" class="form-control" placeholder="Start date">
                
                   </div>
    
                </div>
               
                
                
                <button type="submit" class="btn btn-primary w-100" id = "fetch_attendence"> Submit</button>
                
            </div>
           
        </div>
    </form>

    <br>
    <hr>
    <br>
</div>
{% endblock %}
