{% extends 'staff_template/base_template.html' %}


{% block content %}
<div class="row m-3">
<div class="col-lg-3 col-6 my-3">
    <div class="small-box bg-primary text-white p-4 rounded position-relative ">
      <h3>{{students_count}}</h3>
      <p>Total Students Under me</p>
      <a href="{% url 'staff_take_attendence' %}" class="text-light text-decoration-none">
        More info &nbsp;<i class="bi bi-arrow-right"></i>
      </a>
      <i class="bi bi-bar-chart-fill position-absolute opacity-25" style="font-size: 5rem; right: 10px; bottom: 10px;"></i>
    </div>
  </div>

  <!-- Box 2 -->
  <div class="col-lg-3 col-6 my-3">
    <div class="small-box bg-success text-white p-4 rounded position-relative">
      <h3>{{attendence_taken_count}}</h3>
      <p>Total Attendance taken</p>
      <a href="{% url 'staff_update_attendence' %}" class="text-light text-decoration-none">
          More info &nbsp;<i class="bi bi-arrow-right"></i>
      </a>
      <i class="bi bi-bar-chart-fill position-absolute opacity-25" style="font-size: 5rem; right: 10px; bottom: 10px;"></i>
    </div>
  </div>

  <!-- Box 3 -->
  <div class="col-lg-3 col-6 my-3">
    <div class="small-box bg-warning text-dark p-4 rounded position-relative">
      <h3>{{leave_count}}</h3>
      <p>Total leave taken</p>
      <a href="{% url 'staff_apply_leave' %}" class="text-light text-decoration-none ">
          More info &nbsp; <i class="bi bi-arrow-right"></i>
      </a>
      <i class="bi bi-bar-chart-fill position-absolute opacity-25" style="font-size: 5rem; right: 10px; bottom: 10px;"></i>
    </div>
  </div>

  <!-- Box 4 -->
  <div class="col-lg-3 col-6 my-3">
    <div class="small-box bg-danger text-white p-4 rounded position-relative">
      <h3>{{subject_count}}</h3>
      <p>Total Subjects</p>
      <a href="#" class="text-light text-decoration-none">
        
      </a>
      <i class="bi bi-pie-chart-fill position-absolute opacity-25" style="font-size: 5rem; right: 10px; bottom: 10px;"></i>
    </div>
  </div>
</div>

<div class="card-body ">
    <div class="row mt-4">
        <div class="col-6">
            <div id="bar-chart1"></div>
        </div>
        <div class="col-6">
            <div id="bar-chart2"></div>

        </div>
    </div>
</div>
{% endblock %}

{% block custom_js %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // var attendance_present = {{ attendence_present | safe }};
        // var attendance_absent = {{ attendence_absent | safe }};

        // var pieOptions = {
        //     chart: {
        //         type: 'donut',
        //         height: '300px'
        //     },
        //     title: {
        //     text: 'Attendance Overview', // Add your title here
        //     align: 'center', // Options: 'left', 'center', 'right'
        //     margin: 20, // Space around the title
        //     offsetX: 0, // Horizontal offset
        //     offsetY: 0, // Vertical offset
        //     style: {
        //         fontSize: '20px', // Title font size
        //         fontWeight: 'bold', // Title font weight
        //         color: '#333' // Title color
        //     }
        // },
        //     series: [attendance_present, attendance_absent], // Use dynamic data
        //     labels: ['PRESENT', 'ABSENT'], // Legend labels
        //     colors: ['#20c997', '#f52f57'], // Custom colors
        //     responsive: [{
        //         breakpoint: 768,
        //         options: {
        //             chart: {
        //                 width: '100%'
        //             },
        //             legend: {
        //                 position: 'bottom'
        //             }
        //         }
        //     }]
        // };

        // var pieChart = new ApexCharts(document.querySelector("#donut-chart"), pieOptions);
        // pieChart.render();


        var subject_names = {{ subject_list | safe }};
        var attendence_list = {{ attendence_list | safe }};
        console.log(subject_names)
        console.log(attendence_list)

            var options = {
                chart: {
                    type: 'bar',
                    height: '300px'
                },
                series: [{
                    name: 'Attendance',
                    data: attendence_list// Data for PRESENT and ABSENT
                }],
                xaxis: {
                    categories: subject_names
                },
                colors: ['#20c997', '#d63384'],
                title: {
                    text: 'Attendance Overview',
                    align: 'center',
                    style: {
                        fontSize: '24px',
                        color: '#333'
                    }
                },
                responsive: [{
                    breakpoint: 768,
                    options: {
                        chart: {
                            width: '100%'
                        }
                    }
                }]
            };

            var chart = new ApexCharts(document.querySelector("#bar-chart1"), options);
            chart.render();
    



            var student_list = {{ student_list | safe }};

        var student_list_attendence_absent = {{ student_list_attendence_absent | safe }};
        var student_list_attendence_present = {{student_list_attendence_present | safe }}

            var options = {
                chart: {
                    type: 'bar',
                    height: '300px'
                },
                series: [{
                    name: 'Attendance',
                    data: attendence_list// Data for PRESENT and ABSENT
                }],
                xaxis: {
                    categories: student_list
                },
                colors: ['#20c997', '#d63384'],
                title: {
                    text: 'Student v/s Attendence',
                    align: 'center',
                    style: {
                        fontSize: '24px',
                        color: '#333'
                    }
                },
                responsive: [{
                    breakpoint: 768,
                    options: {
                        chart: {
                            width: '100%'
                        }
                    }
                }]
            };

            var chart = new ApexCharts(document.querySelector("#bar-chart2"), options);
            chart.render();
    




    //     var attendance_present = {{ student_list_attendence_absent | safe }};
    // var attendance_absent = {{ student_list_attendence_present | safe }};

    //     var data = [{
    //         values: [attendance_present, attendance_absent],
    //         labels: ['PRESENT', 'ABSENT'],
    //         marker: {
    //             colors: ['#20c997', '#d63384']
    //         },
    //         type: 'pie',
    //         hole: 0.4
    //     }];

    //     var layout = {
    //         title: {
    //             text: 'Attendance Overview',
    //             font: {
    //                 size: 24,
    //                 color: '#333',
    //                 family: 'Arial, sans-serif'
    //             },
    //             x: 0.5,
    //             xanchor: 'center'
    //         },
    //         showlegend: true,
    //         legend: {
    //             orientation: 'h',
    //             x: 0.5,
    //             xanchor: 'center',
    //             y: -0.2
    //         },
    //         margin: { t: 50, b: 50 }
    //     };

    //     Plotly.newPlot('bar-chart1', data, layout);
    
    });


   
</script>

{% endblock custom_js %}